node_red_schema
[{"id":"460215a5.44980c","type":"tab","label":"Flow MQTT","disabled":false,"info":""},{"id":"aa215b81.757e98","type":"tab","label":"Flow Lora","disabled":false,"info":""},{"id":"a22d2a4d.499728","type":"tab","label":"Flow Maps","disabled":false,"info":""},{"id":"cec1be55.80861","type":"tab","label":"Flow Reports","disabled":false,"info":""},{"id":"891a53b7.17dc","type":"tab","label":"Flow Valves","disabled":false,"info":""},{"id":"7404af50.364ee","type":"mqtt-broker","z":"","name":"MapMyMotion","broker":"mapmymotion.com","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"1341ab0d.80c265","type":"ui_group","z":"","name":"Temperature/Humidity","tab":"20c4b993.e41b76","order":2,"disp":true,"width":"6","collapse":false},{"id":"fcc1fbbf.66bab8","type":"mqtt-broker","z":"","name":"MapMyMotion","broker":"mapmymotion.com","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"20c4b993.e41b76","type":"ui_tab","z":"","name":"Home","icon":"dashboard","order":1},{"id":"cdd3868c.534158","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"24b9ed76.244bf2","type":"ui_group","z":"","name":"CO2 Sensor Info","tab":"20c4b993.e41b76","order":1,"disp":true,"width":"6","collapse":false},{"id":"f2437346.011d4","type":"ttn app","z":"aa215b81.757e98","appId":"draginonode_01","accessKey":"ttn-account-v2.-O39YcGEt-hG3bazm9Y7JBkzNK6FvyO4OqmEZt5_T88","discovery":"discovery.thethingsnetwork.org:1900"},{"id":"7da39419.878c7c","type":"mongodb","z":"","hostname":"96.31.86.129","port":"27017","db":"TroyTelematics","name":"troy_mongo"},{"id":"24e8ed49.6fe342","type":"MySQLdatabase","z":"","host":"96.31.86.129","port":"3306","db":"troytelematics","tz":""},{"id":"eff15f42.a43c6","type":"sqlitedb","z":"","db":"/home/pi/sqlite/nodered"},{"id":"994f299a.2ab138","type":"ui_group","z":"","name":"Report","tab":"9ab93e33.6d17a","order":2,"disp":false,"width":"24"},{"id":"bfbd27b2.880358","type":"ui_group","z":"","name":"Filters","tab":"9ab93e33.6d17a","disp":true,"width":"24"},{"id":"25bdce07.6fa932","type":"ui_group","z":"","name":"Solar 30 days","tab":"4cfe5cf.9cceba4","order":1,"disp":false,"width":"4"},{"id":"cd608351.7a8","type":"ui_group","z":"","name":"Solar 7 days","tab":"4cfe5cf.9cceba4","order":2,"disp":false,"width":"4"},{"id":"80cadccf.c3545","type":"ui_group","z":"","name":"Solar target","tab":"4cfe5cf.9cceba4","order":3,"disp":false,"width":"4"},{"id":"9ab93e33.6d17a","type":"ui_tab","z":"","name":"Report (New)","icon":"event_note","order":3},{"id":"4cfe5cf.9cceba4","type":"ui_tab","z":"","name":"KPI","icon":"trending_up","order":4},{"id":"e1b1a9ad.8d8798","type":"sqlitedb","z":"","db":"/home/pi/sqlite/nodered"},{"id":"baf88497.3f7928","type":"ui_group","z":"","name":"Report","tab":"e6bf8a87.4055a8","order":2,"disp":false,"width":"24","collapse":false},{"id":"3788f646.74f10a","type":"ui_group","z":"","name":"Filters","tab":"e6bf8a87.4055a8","disp":true,"width":"24"},{"id":"3014a69c.d3549a","type":"ui_group","z":"","name":"Solar 30 days","tab":"8c6ca916.dc8078","order":1,"disp":false,"width":"4"},{"id":"31f1726.b92e58e","type":"ui_group","z":"","name":"Solar 7 days","tab":"8c6ca916.dc8078","order":2,"disp":false,"width":"4"},{"id":"a7969e4f.cd764","type":"ui_group","z":"","name":"Solar target","tab":"8c6ca916.dc8078","order":3,"disp":false,"width":"4"},{"id":"e6bf8a87.4055a8","type":"ui_tab","z":"","name":"Report (New)","icon":"event_note","order":12},{"id":"8c6ca916.dc8078","type":"ui_tab","z":"","name":"KPI","icon":"trending_up","order":13},{"id":"98a8fbde.d6d238","type":"ui_group","z":"","name":"Valves","tab":"20c4b993.e41b76","order":3,"disp":true,"width":"4","collapse":false},{"id":"6c6dd01f.97715","type":"mqtt in","z":"460215a5.44980c","name":"MapMyMotion Mqtt","topic":"TT/#","qos":"0","broker":"7404af50.364ee","x":119,"y":112,"wires":[["a0f63673.396b18"]]},{"id":"8ac453d6.0d1f7","type":"debug","z":"460215a5.44980c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":667,"y":338,"wires":[]},{"id":"75cf4043.a12b1","type":"ui_gauge","z":"460215a5.44980c","name":"Moisture Sensor","group":"1341ab0d.80c265","order":0,"width":0,"height":0,"gtype":"gage","title":"Moisture","label":"%","format":"{{msg.payload.payM}}","min":"0","max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"30","seg2":"80","x":628,"y":177,"wires":[]},{"id":"a0f63673.396b18","type":"json","z":"460215a5.44980c","name":"","property":"payload","action":"","pretty":true,"x":305,"y":147,"wires":[["d5d4631d.ca727","8ac453d6.0d1f7"]],"inputLabels":["msg.payload"],"outputLabels":["msg.payload"]},{"id":"5dc65d35.c60204","type":"function","z":"aa215b81.757e98","name":"function","func":"var utime = parseInt(new Date().getTime()/1000);\nreturn {\n    dev_id: msg.dev_id,\n    port: msg.port,\n    schedule: \"replace\",\n    confirmed: false,\n    payload: {\n        led: !msg.led,\n        utime:utime\n    },\n}","outputs":1,"noerr":0,"x":365.00000762939453,"y":147.99999618530273,"wires":[["f1638b7c.b832e8","7089f385.693a3c"]]},{"id":"bde9be24.aacec","type":"debug","z":"aa215b81.757e98","name":"uplink","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":363,"y":108,"wires":[]},{"id":"7089f385.693a3c","type":"debug","z":"aa215b81.757e98","name":"function","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":552,"y":137,"wires":[]},{"id":"d236ed42.b1b95","type":"ttn uplink","z":"aa215b81.757e98","name":"Dragino","app":"f2437346.011d4","dev_id":"dragino_node1","field":"","x":61,"y":106,"wires":[["5dc65d35.c60204","bde9be24.aacec","d076e31c.09d1","792a6d87.df1824","7dbb53bb.a1529c","14c0c00f.dbe67"]]},{"id":"f1638b7c.b832e8","type":"ttn downlink","z":"aa215b81.757e98","name":"","app":"f2437346.011d4","dev_id":"dragino_node1","port":"1","confirmed":true,"schedule":"replace","x":535,"y":191,"wires":[]},{"id":"452f3097.5fc7f","type":"mysql","z":"460215a5.44980c","mydb":"24e8ed49.6fe342","name":"insert_sql","x":658,"y":380,"wires":[[]]},{"id":"d076e31c.09d1","type":"ui_gauge","z":"aa215b81.757e98","name":"gas_ratio","group":"24b9ed76.244bf2","order":0,"width":0,"height":0,"gtype":"gage","title":"Gas Ratio","label":"%","format":"{{msg.payload.ratio}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":439,"y":340,"wires":[]},{"id":"792a6d87.df1824","type":"ui_gauge","z":"aa215b81.757e98","name":"rs_gas","group":"24b9ed76.244bf2","order":0,"width":0,"height":0,"gtype":"gage","title":"RS_Gas","label":"%","format":"{{msg.payload.rs_gas}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":439,"y":374,"wires":[]},{"id":"7dbb53bb.a1529c","type":"ui_gauge","z":"aa215b81.757e98","name":"voltage","group":"24b9ed76.244bf2","order":0,"width":0,"height":0,"gtype":"gage","title":"Voltage","label":"Volts","format":"{{msg.payload.voltage}}","min":0,"max":"10","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":440,"y":411,"wires":[]},{"id":"d5d4631d.ca727","type":"function","z":"460215a5.44980c","name":"Flow Control","func":"var output=\"\";\nvar payM,payH,payT;\npayM=flow.get('payM');\npayT=flow.get('payT');\npayH=flow.get('payH');\nvar i_utime=msg.payload.utime;\nvar i_macid=msg.payload.macid;\n\narraySize=msg.payload.readings.length;\nfor(var i=0;i<arraySize;i++){\n    switch(msg.payload.readings[i].type) {\n    case \"T\":\n        payT=msg.payload.readings[i].value;\n        flow.set('payT',payT);\n        output +=\"INSERT INTO `readings`(macid,utime,type, value,uom) VALUES ('\"+ i_macid+\"',\"+ i_utime+\",'\"+ msg.payload.readings[i].type+\"',\"+msg.payload.readings[i].value+\",'\"+msg.payload.readings[i].uom+\"');\";\n        break;\n    case \"H\":\n        payH=msg.payload.readings[i].value;\n        flow.set('payH',payH);\n        output +=\"INSERT INTO `readings`(macid,utime,type, value,uom) VALUES ('\"+ i_macid+\"',\"+ i_utime+\",'\"+ msg.payload.readings[i].type+\"',\"+msg.payload.readings[i].value+\",'\"+msg.payload.readings[i].uom+\"');\";\n        break;\n    case \"M\":\n        payM=msg.payload.readings[i].value;\n        flow.set('payM',payM);\n        output +=\"INSERT INTO `readings`(macid,utime,type, value,uom) VALUES ('\"+ i_macid+\"',\"+ i_utime+\",'\"+ msg.payload.readings[i].type+\"',\"+msg.payload.readings[i].value+\",'\"+msg.payload.readings[i].uom+\"');\";\n        break;\n    default:\n       // break;\n    }\n}\n\nmsg.payload={payM,payT,payH};\nmsg.topic=output;\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":335,"wires":[["75cf4043.a12b1","452f3097.5fc7f","752e0588.a8cbcc","460f01bc.4dda6"]]},{"id":"460f01bc.4dda6","type":"ui_gauge","z":"460215a5.44980c","name":"","group":"1341ab0d.80c265","order":0,"width":0,"height":0,"gtype":"gage","title":"Humidity","label":"%H","format":"{{msg.payload.payH}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"30","seg2":"80","x":606,"y":130,"wires":[]},{"id":"752e0588.a8cbcc","type":"ui_gauge","z":"460215a5.44980c","name":"","group":"1341ab0d.80c265","order":0,"width":0,"height":0,"gtype":"gage","title":"Temperature","label":" ° C","format":"{{msg.payload.payT}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"30","seg2":"80","x":615,"y":79,"wires":[]},{"id":"f37beee4.61804","type":"config","z":"460215a5.44980c","name":"pay","properties":[{"p":"payM","pt":"flow","to":"0","tot":"num"},{"p":"payT","pt":"flow","to":"0","tot":"num"},{"p":"payH","pt":"flow","to":"0","tot":"num"}],"active":true,"x":82,"y":46,"wires":[]},{"id":"14c0c00f.dbe67","type":"function","z":"aa215b81.757e98","name":"SQL","func":"var i_macid = msg.payload.macid;\nvar i_utime = parseInt(new Date().getTime()/1000);\nvar i_ratio=msg.payload.ratio;\nvar i_rs_gas=msg.payload.rs_gas;\nvar i_volt=msg.payload.voltage;\nvar i_typeG1=\"RA\";\nvar i_typeG2=\"RS\";\nvar i_typeG3=\"GV\";\nvar i_uomG1=\"P\";\nvar i_uomG2=\"F\";\nvar i_uomG3=\"I\";\nvar sql=\"\";\nsql += \"INSERT INTO `readings`(macid,utime,type, value,uom) VALUES ('\"+ i_macid+\"',\"+ i_utime+\",'\"+ i_typeG1+\"',\"+i_ratio+\",'\"+i_uomG1+\"');\";\nsql += \"INSERT INTO `readings`(macid,utime,type, value,uom) VALUES ('\"+ i_macid+\"',\"+ i_utime+\",'\"+ i_typeG2+\"',\"+i_rs_gas+\",'\"+i_uomG2+\"');\";\nsql += \"INSERT INTO `readings`(macid,utime,type, value,uom) VALUES ('\"+ i_macid+\"',\"+ i_utime+\",'\"+ i_typeG3+\"',\"+i_volt+\",'\"+i_uomG3+\"');\";\n\nmsg.topic=sql;    \nreturn msg;","outputs":1,"noerr":0,"x":531,"y":269,"wires":[["2a8253b8.41a58c","410a086a.2c29b8"]]},{"id":"2a8253b8.41a58c","type":"mysql","z":"aa215b81.757e98","mydb":"24e8ed49.6fe342","name":"insert_sql","x":681,"y":274,"wires":[[]]},{"id":"410a086a.2c29b8","type":"debug","z":"aa215b81.757e98","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"topic","x":661,"y":352,"wires":[]},{"id":"4c5dfd34.ab5cd4","type":"inject","z":"a22d2a4d.499728","name":"","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"x":107,"y":145,"wires":[["f7f08c3f.3f77d"]]},{"id":"f7f08c3f.3f77d","type":"function","z":"a22d2a4d.499728","name":"add new layer","func":"msg.payload = {};\nmsg.payload.command = {};\n\nvar u = 'http://{s}.tile.openstreetmap.fr/hot/{z}/{x}/{y}.png';\nvar o = JSON.stringify({ maxZoom: 19, attribution: '&copy; OpenStreetMap'});\n\nmsg.payload.command.map = {name:\"OSMhot\", url:u, opt:o};\nmsg.payload.command.layer = \"OSMhot\";\n\nreturn msg;","outputs":1,"noerr":0,"x":337,"y":145,"wires":[["320580c8.d78ae"]]},{"id":"c6e81031.39f09","type":"function","z":"a22d2a4d.499728","name":"USGS Quake monitor csv re-parse","func":"msg.payload.lat = msg.payload.latitude;\nmsg.payload.lon = msg.payload.longitude;\nmsg.payload.layer = \"earthquake\";\nmsg.payload.name = msg.payload.id;\nmsg.payload.icon = \"globe\";\nmsg.payload.iconColor = \"orange\";\n\ndelete msg.payload.latitude;\ndelete msg.payload.longitude;\t\nreturn msg;","outputs":1,"noerr":0,"x":457,"y":285,"wires":[["320580c8.d78ae"]]},{"id":"dcf94a13.792d68","type":"function","z":"a22d2a4d.499728","name":"move and zoom","func":"msg.payload = { command:{layer:\"Esri Terrain\",lat:0,lon:0,zoom:3} };\nreturn msg;","outputs":1,"noerr":0,"x":337,"y":185,"wires":[["320580c8.d78ae"]]},{"id":"c1ed8d5f.2e5a5","type":"csv","z":"a22d2a4d.499728","name":"","sep":",","hdrin":true,"hdrout":"","multi":"one","ret":"\\n","temp":"","x":307,"y":225,"wires":[["c6e81031.39f09"]]},{"id":"eddbcdef.6878","type":"inject","z":"a22d2a4d.499728","name":"","topic":"","payload":"","payloadType":"none","repeat":"","crontab":"","once":false,"x":107,"y":185,"wires":[["dcf94a13.792d68"]]},{"id":"c97c1317.f3862","type":"http request","z":"a22d2a4d.499728","name":"","method":"GET","url":"http://earthquake.usgs.gov/earthquakes/feed/v1.0/summary/2.5_day.csv","x":187,"y":285,"wires":[["c1ed8d5f.2e5a5"]]},{"id":"9f0f0559.795af8","type":"inject","z":"a22d2a4d.499728","name":"Quakes","topic":"","payload":"","payloadType":"none","repeat":"900","crontab":"","once":false,"x":117,"y":225,"wires":[["c97c1317.f3862"]]},{"id":"320580c8.d78ae","type":"worldmap","z":"a22d2a4d.499728","name":"openstreetmap","lat":"27.7634","lon":"82.5437","zoom":"4","layer":"Esri","cluster":"","maxage":"","usermenu":"show","layers":"show","panit":"true","x":677,"y":185,"wires":[]},{"id":"61a73f43.bded7","type":"function","z":"cec1be55.80861","name":"SQL","func":"// This will handle any device and any attribute as long as it is in the DB\nvar p_30d  = 1000*60*60*24*30 ; //30 Days\nvar p_7d  = 1000*60*60*24*7 ; //7 Days\nvar p_1d   =  1000*60*60*24 ; // 1 Day\nvar d = new Date();\nvar current = d.getTime();\nvar today0h = d.setHours(0,0,0,0);\nvar day = d.getDay();\nvar monday0h = today0h - (day + (day === 0 ? -6:1)) * p_1d;\nvar fromdate = 0;\nvar enddate = 0;\nvar sql = [];\nvar sourcelist = [];\nvar aggrlist = [];\nvar title = \"\";\n\n\n// Get the period and the list of data sources \n// also set some default values if one or the other does not exist yet\nsourcelist = context.get(\"sourcelist\");\nif (sourcelist===undefined) { // if running for the first time\n    sourcelist = [];\n}\naggrlist = context.get(\"aggrlist\");\nif (aggrlist===undefined) { // if running for the first time\n    aggrlist = [];\n}\nfromdate = context.get(\"fromdate\");\nif (fromdate===undefined) {\n    // set the period to a default if it is not selected yet\n    fromdate = current-p_1d;\n}\nenddate = context.get(\"enddate\");\nif (enddate===undefined) {\n    // set the period to a default if it is not selected yet\n    enddate = current;\n}\n\nswitch(msg.topic) {\n    case \"period\":\n        switch(msg.payload) {\n            case \"today\":\n                fromdate = today0h;\n                enddate = today0h+p_1d;\n                break;\n            case \"yesterday\":\n                fromdate = today0h-p_1d;\n                enddate = today0h;\n                break;\n            case \"thisweek\":\n                fromdate = monday0h;\n                enddate = monday0h+p_7d;\n                break;\n            case \"lastweek\":\n                fromdate = monday0h-p_7d;\n                enddate = monday0h;\n                break;\n            case \"last24h\":\n                fromdate = current-p_1d;\n                enddate = current;\n                break;\n            case \"last7d\":\n                fromdate = current-p_7d;\n                enddate = current;\n                break;\n            case \"last30d\":\n                fromdate = current-p_30d;\n                enddate = current;\n                break;\n        }\n        context.set(\"fromdate\",fromdate);\n        context.set(\"enddate\",enddate);\n        break;\n    case \"datasource\":\n        if (msg.payload===\"delete\") {\n            // remove all previous data sources\n            sourcelist = [];\n        } else {\n            sourcelist = context.get(\"sourcelist\");\n            if (sourcelist===undefined) { // if running for the first time\n                sourcelist = [];\n            }\n            sourcelist.push(msg.payload);\n        }\n        context.set(\"sourcelist\",sourcelist);\n        break;\n    case \"aggrsource\":\n        if (msg.payload===\"delete\") {\n            // remove all previous data sources\n            aggrlist = [];\n        } else {\n            aggrlist = context.get(\"aggrlist\");\n            if (aggrlist===undefined) { // if running for the first time\n                aggrlist = [];\n            }\n            aggrlist.push(msg.payload);\n        }\n        context.set(\"aggrlist\",aggrlist);\n        break;\n    case \"minus1w\":\n        fromdate = fromdate-p_7d;\n        enddate = enddate-p_7d;\n        context.set(\"fromdate\",fromdate);\n        context.set(\"enddate\",enddate);\n        break;\n    case \"plus1w\":\n        fromdate = fromdate+p_7d;\n        enddate = enddate+p_7d;\n        context.set(\"fromdate\",fromdate);\n        context.set(\"enddate\",enddate);\n        break;\n    case \"minus1d\":\n        fromdate = fromdate-p_1d;\n        enddate = enddate-p_1d;\n        context.set(\"fromdate\",fromdate);\n        context.set(\"enddate\",enddate);\n        break;\n    case \"plus1d\":\n        fromdate = fromdate+p_1d;\n        enddate = enddate+p_1d;\n        context.set(\"fromdate\",fromdate);\n        context.set(\"enddate\",enddate);\n        break;\n}\n\n\n// Regenerate the SQL statements\n// Run through the data source list an generate the SQL statements\nsql = [];\nif (sourcelist.length>0) {\n    for (var i = 0; i < sourcelist.length; i++) {\n        var parts = sourcelist[i].split(\"/\");\n        sql.push({ topic: \"SELECT * FROM sensor_data WHERE device='\"+parts[0]+\"' AND sensor='\"+parts[1]+\"' AND epoch >= \" + fromdate + \" AND epoch <= \" + enddate });\n    }\n} \nif (aggrlist.length>0) {\n    for (var i = 0; i < aggrlist.length; i++) {\n        var parts = aggrlist[i].split(\"/\");\n        sql.push({ topic: \"SELECT * FROM sensor_aggr WHERE device='\"+parts[0]+\"' AND sensor='\"+parts[1]+\"' AND epoch >= \" + fromdate + \" AND epoch <= \" + enddate });\n    }\n} \nif (sql.length===0) {    \n    // Dummy select that returns nothing to clear the chart\n    sql.push({ topic: \"SELECT * FROM sensor_data WHERE device='xxxx'\" });\n}\n\n// set the completed flag for the join node later\nsql[sql.length-1].complete=true;\n// pass along the email flag to redirect the flow later\nif (msg.topic===\"email\") {\n    sql[sql.length-1].email=true;\n}\n\n// Generate report title\nif (sourcelist.length===0 && aggrlist.length===0) {\n    title = \"No data source\";\n} else {\n    if (sourcelist.length!==0) {\n        title = title + sourcelist.toString()+ \", \";\n    }\n    if (aggrlist.length!==0) {\n        title = title + aggrlist.toString()+ \", \";\n    }\n    title = title.substring(0,title.length-2);\n    title = title + \" | \";\n\n    var d = new Date();\n    d.setTime(fromdate);\n    var yyyy = d.getFullYear();\n    var mm = d.getMonth() < 9 ? \"0\" + (d.getMonth() + 1) : (d.getMonth() + 1); // getMonth() is zero-based\n    var dd  = d.getDate() < 10 ? \"0\" + d.getDate() : d.getDate();\n    var hh = d.getHours() < 10 ? \"0\" + d.getHours() : d.getHours();\n    var mmm  = d.getMinutes() < 10 ? \"0\" + d.getMinutes() : d.getMinutes();\n    var ss  = d.getSeconds() < 10 ? \"0\" + d.getSeconds() : d.getSeconds();\n    title = title + dd + \".\" + mm + \".\" + yyyy;\n    d.setTime(enddate);\n    yyyy = d.getFullYear();\n    mm = d.getMonth() < 9 ? \"0\" + (d.getMonth() + 1) : (d.getMonth() + 1); // getMonth() is zero-based\n    dd  = d.getDate() < 10 ? \"0\" + d.getDate() : d.getDate();\n    hh = d.getHours() < 10 ? \"0\" + d.getHours() : d.getHours();\n    mmm  = d.getMinutes() < 10 ? \"0\" + d.getMinutes() : d.getMinutes();\n    ss  = d.getSeconds() < 10 ? \"0\" + d.getSeconds() : d.getSeconds();\n    title = title + \" - \" + dd + \".\" + mm + \".\" + yyyy;\n}\nsql[sql.length-1].title=title;\n\nreturn [ sql ];\n\n","outputs":1,"noerr":0,"x":325.75,"y":249.25,"wires":[["b3629207.b8eef"]]},{"id":"b9c034ea.58e2d8","type":"ui_chart","z":"cec1be55.80861","name":"Chart","group":"baf88497.3f7928","order":2,"width":0,"height":0,"label":"","chartType":"line","legend":"false","xformat":"dd HH:mm","interpolate":"linear","nodata":"","ymin":"","ymax":"","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"604800","cutout":"","colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":961.4166946411133,"y":288.4999485015869,"wires":[[],[]]},{"id":"f780ce20.a04f8","type":"function","z":"cec1be55.80861","name":"Chart Prep","func":"var msg2 = [];\n\nif (msg.payload[0].length>0) {\n    // this is the logic when there are multiple data sets are received\n    for (var i=0; i<msg.payload.length; i++) {\n        var output = [];\n        for (var j=0; j<msg.payload[i].length; j++) {\n            output.push([msg.payload[i][j].epoch, msg.payload[i][j].value]);\n        }\n        msg2.push({ key: msg.payload[i][0].device+\"/\"+msg.payload[i][0].sensor, values : output});\n        //msg2.push({ key: \"test\", values : output});\n    }\n} \n\nmsg.payload=msg2;\n//msg.payload = [ { key: \"Power\", values : output} ];\n//msg.topic = \"Power\";\nreturn msg;","outputs":1,"noerr":0,"x":788.5834121704102,"y":288.8333225250244,"wires":[["b9c034ea.58e2d8"]]},{"id":"8c550f61.32aa2","type":"inject","z":"cec1be55.80861","name":"Reset chart","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":486.49999237060547,"y":346.25000953674316,"wires":[["da952b36.496ac8"]]},{"id":"da952b36.496ac8","type":"function","z":"cec1be55.80861","name":"Empty payload","func":"msg.payload = [];\nreturn msg;","outputs":1,"noerr":0,"x":734.4166641235352,"y":345.58332347869873,"wires":[["b9c034ea.58e2d8"]]},{"id":"af62fcc9.70db6","type":"join","z":"cec1be55.80861","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","timeout":"","count":"","x":598.75,"y":249.25,"wires":[["d85b13e5.4e25a","f780ce20.a04f8"]]},{"id":"d22fae09.55e2a","type":"ui_dropdown","z":"cec1be55.80861","name":"Data source","label":"","group":"3788f646.74f10a","order":1,"width":"5","height":"1","passthru":false,"options":[{"label":"[Remove all]","value":"delete","type":"str"},{"label":"Miflora temperature","value":"miflora/temp","type":"str"},{"label":"Miflora battery level","value":"miflora/battery","type":"str"},{"label":"Miflora sunlight","value":"miflora/sunlight","type":"str"},{"label":"Miflora soil moisture","value":"miflora/moisture","type":"str"},{"label":"Miflora soil fertility","value":"miflora/fertility","type":"str"},{"label":"Solar power","value":"growatt/power","type":"str"},{"label":"Solar voltage","value":"growatt/voltage","type":"str"}],"payload":"","topic":"datasource","x":496,"y":62,"wires":[["61a73f43.bded7"]]},{"id":"de8cda86.ef8098","type":"ui_dropdown","z":"cec1be55.80861","name":"Period","label":"","group":"3788f646.74f10a","order":4,"width":"4","height":"1","passthru":false,"options":[{"label":"Today","value":"today","type":"str"},{"label":"Yesterday","value":"yesterday","type":"str"},{"label":"This week","value":"thisweek","type":"str"},{"label":"Last week","value":"lastweek","type":"str"},{"label":"Last 24 hours","value":"last24h","type":"str"},{"label":"Last 7 days","value":"last7d","type":"str"},{"label":"Last 30 days","value":"last30d","type":"str"}],"payload":"","topic":"period","x":475,"y":105,"wires":[["61a73f43.bded7"]]},{"id":"3c7ac5a4.01ba3a","type":"inject","z":"cec1be55.80861","name":"","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":true,"x":287,"y":45,"wires":[["d22fae09.55e2a","de8cda86.ef8098","a070821c.b7726"]]},{"id":"2ef16860.748168","type":"ui_button","z":"cec1be55.80861","name":"","group":"3788f646.74f10a","order":5,"width":"2","height":"1","label":"-1W","color":"","bgcolor":"","icon":"chevron_left","payload":"","payloadType":"str","topic":"minus1w","x":57,"y":38,"wires":[["d783166d.d3dc98","61a73f43.bded7"]]},{"id":"7dc2c51b.83489c","type":"ui_button","z":"cec1be55.80861","name":"","group":"3788f646.74f10a","order":6,"width":"2","height":"1","label":"-1D","color":"","bgcolor":"","icon":"chevron_left","payload":"","payloadType":"str","topic":"minus1d","x":55,"y":75,"wires":[["d783166d.d3dc98","61a73f43.bded7"]]},{"id":"c755eb0b.a87df8","type":"ui_button","z":"cec1be55.80861","name":"","group":"3788f646.74f10a","order":8,"width":"2","height":"1","label":"+1W","color":"","bgcolor":"","icon":"chevron_right","payload":"","payloadType":"str","topic":"plus1w","x":58,"y":113,"wires":[["d783166d.d3dc98","61a73f43.bded7"]]},{"id":"e6cd6fbd.0dae1","type":"ui_button","z":"cec1be55.80861","name":"","group":"3788f646.74f10a","order":7,"width":"2","height":"1","label":"+1D","color":"","bgcolor":"","icon":"chevron_right","payload":"","payloadType":"str","topic":"plus1d","x":56,"y":150,"wires":[["d783166d.d3dc98","61a73f43.bded7"]]},{"id":"d783166d.d3dc98","type":"change","z":"cec1be55.80861","name":"Reset","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":285,"y":105,"wires":[["de8cda86.ef8098"]]},{"id":"a070821c.b7726","type":"ui_dropdown","z":"cec1be55.80861","name":"Aggregate source","label":"","group":"3788f646.74f10a","order":2,"width":"5","height":"1","passthru":false,"options":[{"label":"[Remove all]","value":"delete","type":"str"},{"label":"Miflora temperature Max","value":"miflora/temp_max","type":"str"},{"label":"Miflora battery level Min","value":"miflora/battery_min","type":"str"},{"label":"Miflora soil moisture","value":"miflora/moisture","type":"str"},{"label":"Solar power Max","value":"growatt/power_max","type":"str"},{"label":"Solar daily generation","value":"growatt/today","type":"str"}],"payload":"","topic":"aggrsource","x":515,"y":20,"wires":[["61a73f43.bded7"]]},{"id":"d85b13e5.4e25a","type":"change","z":"cec1be55.80861","name":"Title","rules":[{"t":"set","p":"payload","pt":"msg","to":"title","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":805.2500152587891,"y":201.25000953674316,"wires":[["7f39431e.73539c"]]},{"id":"7f39431e.73539c","type":"ui_text","z":"cec1be55.80861","group":"baf88497.3f7928","order":1,"width":"0","height":"0","name":"Chart title","label":"","format":"{{msg.payload}}","layout":"row-center","x":957.2500152587891,"y":201.25000953674316,"wires":[]},{"id":"b47609e2.894c58","type":"ui_template","z":"cec1be55.80861","group":"3014a69c.d3549a","name":"Trend","order":3,"width":"4","height":"3","format":"<div layout=\"row\" layout-align=\"space-between\">\n    <table width=\"100%\" height=\"100%\">\n        <tr>\n            <td colspan=\"2\">{{msg.title}}</td>\n        </tr>\n        <tr>\n            <td rowspan=\"2\" style=\"text-align: center;\"><span style=\"font-size: 300%; font-weight: bold;\">{{msg.current}}</span><br/>{{msg.unit}}</td>\n            <td style=\"text-align: center; font-size: 300%; font-weight: bold;\" ng-style=\"{color: msg.trend === 'up' ? 'green' : 'red'}\">{{(msg.trend === 'up') ? '&#8679;' : '&#8681;'}}</td>\n        </tr>\n        <tr>\n            <td style=\"text-align: center; font-style: italic;\">{{msg.reference}}</td>\n        </tr>\n    </table>\n</div>","storeOutMessages":false,"fwdInMessages":false,"templateScope":"local","x":871.5,"y":510.25001525878906,"wires":[[]]},{"id":"eb3d1a97.8ac668","type":"inject","z":"cec1be55.80861","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":104.5,"y":511.25001525878906,"wires":[["53c1b43a.2c61fc"]]},{"id":"53c1b43a.2c61fc","type":"function","z":"cec1be55.80861","name":"SQL","func":"var p_30d  = 1000*60*60*24*30 ; //30 Days\nvar p_7d  = 1000*60*60*24*7 ; //7 Days\nvar p_1d   =  1000*60*60*24 ; // 1 Day\nvar d = new Date();\nvar current = d.getTime();\nvar today0h = d.setHours(0,0,0,0);\nvar day = d.getDay();\nvar monday0h = today0h - (day + (day === 0 ? -6:1)) * p_1d;\nvar fromdate = 0;\nvar enddate = 0;\nvar sql = [];\n\nfromdate = today0h - p_30d;\nenddate = today0h;\nsql.push({ topic: \"SELECT sum(value) AS value FROM sensor_aggr WHERE device='growatt' AND sensor='today' AND epoch >= \" + fromdate + \" AND epoch <= \" + enddate });\n\nfromdate = fromdate - p_30d;\nenddate = enddate - p_30d;\nsql.push({ topic: \"SELECT sum(value) AS value FROM sensor_aggr WHERE device='growatt' AND sensor='today' AND epoch >= \" + fromdate + \" AND epoch <= \" + enddate });\n\n// set the completed flag for the join node later\nsql[sql.length-1].complete=true;\n\nreturn [ sql ];","outputs":1,"noerr":0,"x":270.5,"y":511.25001525878906,"wires":[["aa3ca958.f17788"]]},{"id":"f9b71e0c.13bfa","type":"join","z":"cec1be55.80861","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","timeout":"","count":"","x":548.5,"y":510.25001525878906,"wires":[["2aec994a.705316"]]},{"id":"2aec994a.705316","type":"function","z":"cec1be55.80861","name":"Prep Data","func":"// Output format for the ui_template node\n// msg.current: current values displayed in large numbers\n// msg.unit: unit value shown under the current value\n// msg.trend = up|down: displays the up/down trend arrow\n// msg.reference: reference/past value displayed in smaller numbers\n// msg.title: KPI title shown on the top\n\nmsg.title = \"Solar generation in last 30 days\";\nmsg.current = Math.floor(msg.payload[0][0].value/1000);\nmsg.unit = \"kWh\";\nmsg.reference = Math.floor(msg.payload[1][0].value/1000);\nif (msg.payload[0][0].value>msg.payload[1][0].value) {\n    msg.trend = \"up\";\n} else {\n    msg.trend = \"down\";\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":710.5,"y":510.25001525878906,"wires":[["b47609e2.894c58"]]},{"id":"ce811641.951288","type":"ui_template","z":"cec1be55.80861","group":"31f1726.b92e58e","name":"Trend","order":3,"width":"4","height":"3","format":"<div layout=\"row\" layout-align=\"space-between\">\n    <table width=\"100%\" height=\"100%\">\n        <tr>\n            <td colspan=\"2\">{{msg.title}}</td>\n        </tr>\n        <tr>\n            <td rowspan=\"2\" style=\"text-align: center;\"><span style=\"font-size: 300%; font-weight: bold;\">{{msg.current}}</span><br/>{{msg.unit}}</td>\n            <td style=\"text-align: center; font-size: 300%; font-weight: bold;\" ng-style=\"{color: msg.trend === 'up' ? 'green' : 'red'}\">{{(msg.trend === 'up') ? '&#8679;' : '&#8681;'}}</td>\n        </tr>\n        <tr>\n            <td style=\"text-align: center; font-style: italic;\">{{msg.reference}}</td>\n        </tr>\n    </table>\n</div>","storeOutMessages":false,"fwdInMessages":false,"x":869.5,"y":562.2500152587891,"wires":[[]]},{"id":"686fe7b0.88daa8","type":"inject","z":"cec1be55.80861","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":102.5,"y":563.2500152587891,"wires":[["9f40acbe.d878d"]]},{"id":"9f40acbe.d878d","type":"function","z":"cec1be55.80861","name":"SQL","func":"var p_30d  = 1000*60*60*24*30 ; //30 Days\nvar p_7d  = 1000*60*60*24*7 ; //7 Days\nvar p_1d   =  1000*60*60*24 ; // 1 Day\nvar d = new Date();\nvar current = d.getTime();\nvar today0h = d.setHours(0,0,0,0);\nvar day = d.getDay();\nvar monday0h = today0h - (day + (day === 0 ? -6:1)) * p_1d;\nvar fromdate = 0;\nvar enddate = 0;\nvar sql = [];\n\nfromdate = today0h - p_7d;\nenddate = today0h;\nsql.push({ topic: \"SELECT sum(value) AS value FROM sensor_aggr WHERE device='growatt' AND sensor='today' AND epoch >= \" + fromdate + \" AND epoch <= \" + enddate });\n\nfromdate = fromdate - p_7d;\nenddate = enddate - p_7d;\nsql.push({ topic: \"SELECT sum(value) AS value FROM sensor_aggr WHERE device='growatt' AND sensor='today' AND epoch >= \" + fromdate + \" AND epoch <= \" + enddate });\n\n// set the completed flag for the join node later\nsql[sql.length-1].complete=true;\n\nreturn [ sql ];","outputs":1,"noerr":0,"x":268.5,"y":563.2500152587891,"wires":[["b543044e.127608"]]},{"id":"fe33531d.c230a","type":"join","z":"cec1be55.80861","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","timeout":"","count":"","x":546.5,"y":562.2500152587891,"wires":[["a3ce3014.b3b66"]]},{"id":"a3ce3014.b3b66","type":"function","z":"cec1be55.80861","name":"Prep Data","func":"// Output format for the ui_template node\n// msg.current: current values displayed in large numbers\n// msg.unit: unit value shown under the current value\n// msg.trend = up|down: displays the up/down trend arrow\n// msg.reference: reference/past value displayed in smaller numbers\n// msg.title: KPI title shown on the top\n\nmsg.title = \"Solar generation in last 7 days\";\nmsg.current = parseFloat(msg.payload[0][0].value/1000).toFixed(1);\nmsg.unit = \"kWh\";\nmsg.reference = Math.abs(Math.floor((msg.payload[0][0].value-msg.payload[1][0].value)/msg.payload[0][0].value*100)) + \"%\";\nif (msg.payload[0][0].value>msg.payload[1][0].value) {\n    msg.trend = \"up\";\n} else {\n    msg.trend = \"down\";\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":708.5,"y":562.2500152587891,"wires":[["ce811641.951288"]]},{"id":"98ceb561.5813d8","type":"ui_template","z":"cec1be55.80861","group":"a7969e4f.cd764","name":"Trend","order":3,"width":"4","height":"3","format":"<div layout=\"row\" layout-align=\"space-between\">\n    <table width=\"100%\" height=\"100%\" style=\"border-collapse: collapse;\">\n        <tr>\n            <td colspan=\"2\">{{msg.title}}</td>\n        </tr>\n        <tr>\n            <td rowspan=\"2\" style=\"text-align: center;\"><span style=\"font-size: 300%; font-weight: bold;\">{{msg.current}}</span><br/>{{msg.unit}}</td>\n            <td style=\"text-align: center; font-size: 300%; font-weight: bold;\" ng-style=\"{color: msg.trend === 'up' ? 'green' : 'red'}\">&nbsp;</td>\n        </tr>\n        <tr>\n            <td style=\"text-align: center; font-style: italic;\">{{msg.reference}}</td>\n        </tr>\n        <tr style=\"background-color: lightgrey;\">\n            <td width={{msg.reference}} style=\"border-bottom: 6px solid blue;\"></td><td width={{1-msg.reference}}></td>\n        </tr>\n    </table>\n</div>","storeOutMessages":false,"fwdInMessages":false,"x":739.5,"y":617.2500152587891,"wires":[[]]},{"id":"b0c0b478.24d7d8","type":"inject","z":"cec1be55.80861","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":107.5,"y":618.2500152587891,"wires":[["b9e73541.4d4d08"]]},{"id":"b9e73541.4d4d08","type":"function","z":"cec1be55.80861","name":"SQL","func":"var p_30d  = 1000*60*60*24*30 ; //30 Days\nvar p_7d  = 1000*60*60*24*7 ; //7 Days\nvar p_1d   =  1000*60*60*24 ; // 1 Day\nvar d = new Date();\nvar current = d.getTime();\nvar today0h = d.setHours(0,0,0,0);\nvar day = d.getDay();\nvar monday0h = today0h - (day + (day === 0 ? -6:1)) * p_1d;\nvar fromdate = 0;\nvar enddate = 0;\nvar sql = [];\n\nfromdate = today0h-p_1d;\nmsg.topic= \"SELECT * FROM sensor_aggr WHERE device='growatt' AND sensor='today' AND epoch = \" + fromdate + \";\";\n\nreturn msg;","outputs":1,"noerr":0,"x":273.5,"y":618.2500152587891,"wires":[["24c39b5b.fa2a74"]]},{"id":"af6a47e1.128688","type":"function","z":"cec1be55.80861","name":"Prep Data","func":"// Output format for the ui_template node\n// msg.current: current values displayed in large numbers\n// msg.unit: unit value shown under the current value\n// msg.trend = up|down: displays the up/down trend arrow\n// msg.reference: reference/past value displayed in smaller numbers\n// msg.title: KPI title shown on the top\n\nmsg.title = \"Solar generation yesterday vs. max\";\nmsg.current = parseFloat(msg.payload[0].value/1000).toFixed(2);\nmsg.unit = \"kWh\";\nmsg.reference = Math.abs(Math.floor(msg.payload[0].value/20000*100)) + \"%\";\n\nreturn msg;","outputs":1,"noerr":0,"x":578.5,"y":617.2500152587891,"wires":[["98ceb561.5813d8"]]},{"id":"9fa0874e.fac948","type":"inject","z":"460215a5.44980c","name":"Inject moisture Data","topic":"Moisture","payload":"payM","payloadType":"flow","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":269.6931610107422,"y":44.42329406738281,"wires":[["828e85a6.b4ed48"]]},{"id":"828e85a6.b4ed48","type":"ui_chart","z":"460215a5.44980c","name":"tree","group":"24b9ed76.244bf2","order":0,"width":0,"height":0,"label":"Moisture Sensor Chart","chartType":"horizontalBar","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":449.6988754272461,"y":44.573862075805664,"wires":[[],[]]},{"id":"4dd7ae33.92ac2","type":"ui_button","z":"891a53b7.17dc","name":"Valve 1","group":"98a8fbde.d6d238","order":0,"width":0,"height":0,"passthru":false,"label":"Valve 1","color":"","bgcolor":"","icon":"","payload":"v1","payloadType":"str","topic":"TT/Valves","x":140.69033813476562,"y":47.10227012634277,"wires":[["e6e1b863.1fb9a8","6f81e500.54510c"]]},{"id":"99e3ff3.738f1","type":"ui_button","z":"891a53b7.17dc","name":"Valve 2","group":"98a8fbde.d6d238","order":0,"width":0,"height":0,"passthru":false,"label":"Valve 2","color":"","bgcolor":"","icon":"","payload":"v2","payloadType":"str","topic":"","x":139.01421356201172,"y":90.00568008422852,"wires":[["e6e1b863.1fb9a8","6f81e500.54510c"]]},{"id":"ca52c280.17587","type":"ui_button","z":"891a53b7.17dc","name":"Valve 3","group":"98a8fbde.d6d238","order":0,"width":0,"height":0,"passthru":false,"label":"Valve 3","color":"","bgcolor":"","icon":"","payload":"v3","payloadType":"str","topic":"","x":135.01421356201172,"y":134.0056972503662,"wires":[["e6e1b863.1fb9a8","6f81e500.54510c"]]},{"id":"41ab1a7f.0c3d04","type":"ui_button","z":"891a53b7.17dc","name":"Valve 4","group":"98a8fbde.d6d238","order":0,"width":0,"height":0,"passthru":false,"label":"Valve 4","color":"","bgcolor":"","icon":"","payload":"v4","payloadType":"str","topic":"","x":133.0142059326172,"y":173.00567150115967,"wires":[["e6e1b863.1fb9a8","6f81e500.54510c"]]},{"id":"9cae636b.aab3f","type":"ui_button","z":"891a53b7.17dc","name":"Valve 5","group":"98a8fbde.d6d238","order":0,"width":0,"height":0,"passthru":false,"label":"Valve 5","color":"","bgcolor":"","icon":"","payload":"v5","payloadType":"str","topic":"","x":135.0142059326172,"y":218.0056915283203,"wires":[["e6e1b863.1fb9a8","6f81e500.54510c"]]},{"id":"64681950.9220f8","type":"ui_button","z":"891a53b7.17dc","name":"Valve 6","group":"98a8fbde.d6d238","order":0,"width":0,"height":0,"passthru":false,"label":"Valve 6","color":"","bgcolor":"","icon":"","payload":"v6","payloadType":"str","topic":"","x":139.0142059326172,"y":259.0056552886963,"wires":[["e6e1b863.1fb9a8","6f81e500.54510c"]]},{"id":"4db910e3.683e9","type":"ui_button","z":"891a53b7.17dc","name":"Valve 7","group":"98a8fbde.d6d238","order":0,"width":0,"height":0,"passthru":false,"label":"Valve 7","color":"","bgcolor":"","icon":"","payload":"v7","payloadType":"str","topic":"","x":138.01419830322266,"y":303.00565338134766,"wires":[["e6e1b863.1fb9a8","6f81e500.54510c"]]},{"id":"a7caa0d6.5e2e2","type":"ui_button","z":"891a53b7.17dc","name":"Valve 8","group":"98a8fbde.d6d238","order":0,"width":0,"height":0,"passthru":false,"label":"Valve 8","color":"","bgcolor":"","icon":"","payload":"v8","payloadType":"str","topic":"","x":135.0142059326172,"y":345.005651473999,"wires":[["e6e1b863.1fb9a8","6f81e500.54510c"]]},{"id":"31957ed1.d90b92","type":"debug","z":"891a53b7.17dc","name":"uplink","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":580.0142288208008,"y":39.00568199157715,"wires":[]},{"id":"6f81e500.54510c","type":"mqtt out","z":"891a53b7.17dc","name":"Mqtt Valves","topic":"TT/Valves","qos":"0","retain":"","broker":"7404af50.364ee","x":608.6960487365723,"y":203.93748235702515,"wires":[],"inputLabels":["msg.payload"]},{"id":"e6e1b863.1fb9a8","type":"function","z":"891a53b7.17dc","name":"ONOFF Function","func":"var valveno=msg.payload;\n   switch(msg.payload) {\n    case \"v1\":\n        flow.get('v1')==0?flow.set('v1',1):flow.set('v1',0);\n        msg.payload={'v1':flow.get('v1')};\n        break;\n    case \"v2\":\n        flow.get('v2')==0?flow.set('v2',1):flow.set('v2',0);\n        msg.payload={'v2':flow.get('v2')};\n        break;\n    case \"v3\":\n        flow.get('v3')==0?flow.set('v3',1):flow.set('v3',0);\n        msg.payload={'v3':flow.get('v3')};\n        break;\n    case \"v4\":\n        flow.get('v4')==0?flow.set('v4',1):flow.set('v4',0);\n        msg.payload={'v4':flow.get('v4')};        \n        break;\n    case \"v5\":\n        flow.get('v5')==0?flow.set('v5',1):flow.set('v5',0);\n        msg.payload={'v5':flow.get('v5')};\n        break;\n    case \"v6\":\n        flow.get('v6')==0?flow.set('v6',1):flow.set('v6',0);\n        msg.payload={'v6':flow.get('v6')};        \n        break;\n    case \"v7\":\n        flow.get('v7')==0?flow.set('v7',1):flow.set('v7',0);\n        msg.payload={'v7':flow.get('v7')};        \n        break;\n    case \"v8\":\n        flow.get('v8')==0?flow.set('v8',1):flow.set('v8',0);\n        msg.payload={'v8':flow.get('v8')};        \n        break;\n    default:\n       break;\n    }\n}        \nmsg.payload={'v':1223}\nreturn msg.payload;","outputs":1,"noerr":0,"x":540.6903762817383,"y":98.73576354980469,"wires":[["31957ed1.d90b92"]]},{"id":"17b6276c.5be039","type":"config","z":"891a53b7.17dc","name":"Valve Defaults","properties":[{"p":"v1","pt":"flow","to":"0","tot":"num"},{"p":"v2","pt":"flow","to":"0","tot":"num"},{"p":"v3","pt":"flow","to":"0","tot":"num"},{"p":"v4","pt":"flow","to":"0","tot":"num"},{"p":"v5","pt":"flow","to":"0","tot":"num"},{"p":"v6","pt":"flow","to":"0","tot":"str"},{"p":"v7","pt":"flow","to":"0","tot":"str"},{"p":"v8","pt":"flow","to":"0","tot":"str"}],"active":true,"x":155.70169067382812,"y":410.0908889770508,"wires":[]},{"id":"8e2e4cf8.8da52","type":"inject","z":"891a53b7.17dc","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":354.6931610107422,"y":412.2499771118164,"wires":[[]]},{"id":"b3629207.b8eef","type":"mysql","z":"cec1be55.80861","mydb":"24e8ed49.6fe342","name":"insert_sql","x":474.0142135620117,"y":287.0056610107422,"wires":[["af62fcc9.70db6"]]},{"id":"aa3ca958.f17788","type":"mysql","z":"cec1be55.80861","mydb":"24e8ed49.6fe342","name":"insert_sql","x":410.01422119140625,"y":510.5511417388916,"wires":[["f9b71e0c.13bfa"]]},{"id":"b543044e.127608","type":"mysql","z":"cec1be55.80861","mydb":"24e8ed49.6fe342","name":"insert_sql","x":408.0142135620117,"y":560.5511569976807,"wires":[["fe33531d.c230a"]]},{"id":"24c39b5b.fa2a74","type":"mysql","z":"cec1be55.80861","mydb":"24e8ed49.6fe342","name":"insert_sql","x":416.01422119140625,"y":616.5511207580566,"wires":[["af6a47e1.128688"]]}]